.container{
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:5px;
    background-color: rgb(236, 174, 223);;
}
.sounds{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sounds div {
    width: 80%;
    margin: 5px;
    padding: 5px;
    background-color: rgba(185, 144, 173, 1);
    

}
.sounds div:hover{
    
    cursor:pointer;
}

button{
    padding: 5px;
    background-color: ivory;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(29, 163, 187);
}

.sounds div{
    border: 2px solid black;;
}